@model IEnumerable<AxsisTest.Models.Usuario>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>Usuarios</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Sexo</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.NombreUsuario</td>
                    <td>@usuario.Correo</td>
                    <td>@usuario.Sexo</td>
                    <td class="@(usuario.Estatus ? "text-success": "text-danger")">@(usuario.Estatus ? "Activo": "Inactivo")</td>
                    <td>@Html.ActionLink("Editar", "Save", new { Id = usuario.Id })</td>
                    <td>@Html.ActionLink("Eliminar", "Delete", new { Id = usuario.Id })</td>
                </tr>
            }

        </tbody>
    </table>
</div>
