@model AxsisTest.Models.Usuario

@{ 
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="jumbotron">
                <h3>@ViewBag.Title usuario</h3>
                <br />
                @using (Html.BeginForm("Save", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.Correo)
                        @Html.TextBoxFor(m => m.Correo, new { placeholder = "Usuario", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.NombreUsuario)
                        @Html.TextBoxFor(m => m.NombreUsuario, new { placeholder = "Usuario", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NombreUsuario, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Contraseña", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Contraseña", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group @(string.IsNullOrEmpty(Model.NombreUsuario) ? string.Empty : "d-none")">
                        @Html.CheckBoxFor(m => m.Estatus)
                        <label id="lblEstatus" class="@(Model.Estatus ? "text-success" : "text-danger")">@(Model.Estatus ? "Activo" : "Inactivo")</label>
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.Sexo)
                        @Html.EnumDropDownListFor(m => m.Sexo, new { @class = "form-control" })
                    </div>

                    <button class="btn btn-primary" type="submit">@ViewBag.Title</button>
                    <button class="btn btn-dark" type="button" onclick="window.location.href='@Url.Action("Index")'">Cancelar</button>
                }
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
