@model  AxsisTest.Models.Login

@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="jumbotron">
                <h3>Iniciar sesi&oacute;n</h3>
                <br />
                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "frmLogin"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ConfirmPassword)
                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.NombreUsuario)
                        @Html.TextBoxFor(m => m.NombreUsuario, new { placeholder = "Usuario", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NombreUsuario, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Contraseña", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Registrarse", "Save", "Home")
                    </div>
                    <button class="btn btn-primary" type="submit">Login</button>
                }
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>


